Django==5.0.1
pdfkit==1.0.0
androguard==4.0.2
dependabot/pip/lxml-4.7.1
dependabot/pip/lxml-4.7.1
lxml==5.1.0
=======
=======
pyup-scheduled-update-2021-12-20
 pyup-scheduled-update-2021-12-20
lxml==5.1.0
=======
lxml==5.1.0
master==1.0.0
pyup-scheduled-update-2022-01-10
=======
master==1.0.0
lxml==5.1.0
=======
=======
pyup-scheduled-update-2022-01-03
lxml==5.1.0
=======
master==1.0.0
lxml==5.1.0
master==1.0.0
master==1.0.0
pyup-scheduled-update-2021-12-20
master==1.0.0
=======
snyk-fix-128144f23aa9e5d5f97cd41b623e0f7d
rsa==4.9
=======
master==1.0.0
rsa==4.9
master==1.0.0
biplist==1.0.3
requests==2.31.0
bs4==0.0.2
colorlog==6.8.0
macholib==1.16.3
google-play-scraper==1.2.4
whitenoise==6.6.0
waitress==2.1.2
gunicorn==21.2.0
psutil==5.9.8
shelljob==0.6.3
asn1crypto==1.5.1
oscrypto==1.3.0
distro==1.9.0
IP2Location==8.10.2
lief==0.12.3
http-tools==2.1.0
libsast==1.5.2
# Do not update the following
apkid==2.1.4
cryptography>=2.9,<37.0 # pyup: ignore
pyOpenSSL>=19.1.0,<21.1 # pyup: ignore
